/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// layers
#define COLEMAK 0
#define QWERTY  1
#define LOWER   2
#define UPPER   3
#define MAGIC   4

/ {
    macros {
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE>, <&bt BT_SEL 3>;
        };

        to_chi: to_chi_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&to QWERTY>;
        };

        to_eng: to_eng_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&to COLEMAK>;
        };
    };

    behaviors {
        ctrl_magic: tap_dance_ctrl_magic {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&mo MAGIC>;
        };
        caps_toggle: tap_dance_caps_toggle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp LS(CAPS)>;
        };
        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sqt_dqt: sqt_dqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        fslh_qmark: fslh_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        up_pgup: up_pgup {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp PG_UP>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
        down_pgdn: down_pgdn {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp PG_DN>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            bindings = <
                &none              &none  &none  &none  &none                                                                                                   &none  &none        &none       &none        &none
                &none              &none  &none  &none  &none        &none                                                                               &none  &none  &none        &none       &none        &none
                &none              &kp Q  &kp W  &kp F  &kp P        &kp G                                                                               &kp J  &kp L  &kp U        &kp Y       &sqt_dqt     &none
                &none              &kp A  &kp R  &kp S  &kp T        &kp D                                                                               &kp H  &kp N  &kp E        &kp I       &kp O        &none
                &none              &kp Z  &kp X  &kp C  &kp V        &kp B  &none           &none          &none  &none  &none          &none            &kp K  &kp M  &comma_semi  &dot_colon  &fslh_qmark  &none
                &rgb_ug RGB_STATUS &none  &none  &none  &none               &lt LOWER BSPC  &mt LSHFT ESC  &none  &none  &mt RCTRL RET  &lt UPPER SPACE         &none  &none        &none       &none        &rgb_ug RGB_STATUS
            >;
        };

        qwerty_layer {
            bindings = <
                &none   &none  &none  &none  &none                                                                 &none   &none   &none   &none     &none
                &none   &none  &none  &none  &none   &none                                                  &none  &none   &none   &none   &none     &none
                &trans  &kp Q  &kp W  &kp E  &kp R   &kp T                                                  &kp Y  &kp U   &kp I   &kp O   &kp P     &trans
                &trans  &kp A  &kp S  &kp D  &kp F   &kp G                                                  &kp H  &kp J   &kp K   &kp L   &sqt_dqt  &trans
                &trans  &kp Z  &kp X  &kp C  &kp V   &kp B  &none   &none   &none   &none   &none   &none   &kp N  &kp M   &trans  &trans  &trans    &trans
                &trans  &none  &none  &none  &none          &trans  &trans  &trans  &trans  &trans  &trans         &none   &none   &none   &none     &trans
            >;
        };

        lower_layer {
            bindings = <
                &none   &none         &none     &none      &none                                                                                       &none   &none   &none   &none            &none
                &none   &none         &none     &none      &none      &none                                                           &none            &none   &none   &none   &none            &none
                &trans  &kp LT        &kp LBKT  &kp LPAR   &kp LBRC   &kp GRAVE                                                       &kp KP_MULTIPLY  &kp N7  &kp N8  &kp N9  &kp BSLH         &trans
                &trans  &sk LGUI      &sk LALT  &sk LCTRL  &sk LSHFT  &kp KP_EQUAL                                                    &kp KP_PLUS      &kp N4  &kp N5  &kp N6  &lt MAGIC MINUS  &trans
                &trans  &lt MAGIC GT  &kp RBKT  &kp RPAR   &kp RBRC   &kp TILDE     &none   &none    &none   &none   &none    &none   &kp N0           &kp N1  &kp N2  &kp N3  &trans           &trans
                &trans  &none         &none     &none      &trans                   &trans  &to_chi  &trans  &trans  &to_eng  &trans                   &none   &none   &none   &none            &trans
            >;
        };

        upper_layer {
            bindings = <
                &none   &none     &none     &none      &none                                                                                  &none          &none       &none         &none          &none
                &none   &none     &none     &none      &none      &none                                                            &none      &none          &none       &none         &none          &none
                &trans  &kp F1    &kp F2    &kp F3     &kp F4     &kp F5                                                           &kp LG(V)  &kp LG(Z)      &up_pgup    &kp TAB       &kp BSPC       &trans
                &trans  &sk LGUI  &sk LALT  &sk LCTRL  &sk LSHFT  &kp LG(SPACE)                                                    &kp LG(C)  &kp LEFT       &down_pgdn  &kp RIGHT     &lt MAGIC RET  &trans
                &trans  &kp F6    &kp F7    &kp F8     &kp F9     &kp F10        &none   &none    &none   &none   &none    &none   &kp LG(X)  &kp LG(LS(Z))  &kp ESC     &caps_toggle  &kp DEL        &trans
                &trans  &none     &none     &none      &none                     &trans  &to_chi  &trans  &trans  &to_eng  &trans             &none          &none       &none         &none          &trans
            >;
        };

        magic_layer {
            bindings = <
                &none            &none            &none           &none           &none                                                                                               &none       &none         &none       &none  &none
                &none            &none            &none           &none           &none           &none                                                                  &none        &none       &none         &none       &none  &none
                &rgb_ug RGB_TOG  &rgb_ug RGB_SPI  &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &bootloader                                                            &bootloader  &kp C_PP    &kp C_VOL_UP  &kp C_MUTE  &none  &trans
                &rgb_ug RGB_EFF  &rgb_ug RGB_SPD  &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &sys_reset                                                             &sys_reset   &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT  &none  &trans
                &trans           &none            &bt_0           &bt_1           &bt_2           &bt_3        &none   &none   &none         &none       &none   &none   &to COLEMAK  &to QWERTY  &to LOWER     &to UPPER   &none  &trans
                &trans           &none            &none           &none           &none                        &trans  &trans  &out OUT_USB  &bt BT_CLR  &trans  &trans               &none       &none         &none       &none  &trans
            >;
        };
    };
};
